.skills-title{
  font-size: 2rem;
  margin-top: 40px;
}
.skills-subtitle{
  color: grey;
}
.tech-stack{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  width: 90%;
  margin-top: 20px;
}
.tech-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  width:200px;
  margin: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content:space-evenly;
}
.tech-img{
  width: 30%;
}
.level{
  color: grey;
  font-size:x-small;
}