@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300;400;800&family=Signika:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #fafafa; */
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Signika', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
